.interval-proportions
  flex-grow: 1
  display: inline-flex
  flex-flow: row wrap
  gap: 0.5em
  width: 100%
  text-align: right
  .discourage-break
    white-space: nowrap
    display: inline-flex
    gap: 0.5em
