rect.drag-mouse-target {
  fill: transparent;
  cursor: move;
  pointer-events: none;
}
path.mouse-position {
  stroke-width: 2px;
  stroke: #e60000;
  fill: var(--map-selected-color, #f00);
}
g.map {
  all: inherit;
}
.graticule {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
}
.neatline {
  fill: none;
  stroke: var(--map-neatline-color, #000);
  stroke-width: 1px;
}
.background {
  fill: var(--map-background-color, #afe6f0);
}
