
.depositional-age
  fill: var(--column-stroke-color)
  fill-opacity: 0.25
  stroke-width: 1px
  stroke: var(--column-stroke-color)

.detrital-group
  margin: -5px
  margin-left: -10px

.dz-spectra
  position: relative

.floating-axis
  position: sticky
  bottom: 0
