*
  font-family: "Helvetica Neue"

ul
  list-style: none
  padding-left: 0

li a

body
  background-color: white
  user-select: none
*
  box-sizing: border-box
  &:focus
    outline: none

input[type=checkbox]:focus
  outline: 0

#app .page.section-page
  display: flex
  flex-direction: row
  height 100vh

ul.navigation
  padding-left 0
  div.summary-sections
    padding 1em 0
    font-size 1.2em

div.panel-container
  height 100vh
  position relative
  overflow scroll
  width 100%

#section-pane
  position: relative
  flex-grow: 1
  display: flex
  width 100%
  flex-direction: column
  height 100vh
  overflow scroll


#section-page
  width: 100%
  overflow: scroll
  flex-grow: 1
  background-color: white
  &.dragdealer
    overflow: hidden
    cursor: move

#section-link-overlay
  position: absolute
  top 0
  left 0
  bottom 0
  right 0

#section-page-inner
  display: flex
  flex-direction: row
  position relative
  &.skeletal div, &.skeletal svg, &.skeletal g &.skeletal rect
    outline: 2px solid alpha(dodgerblue, 0.2)
    background: alpha(dodgerblue, 0.05)

div.location-group
  margin-top: 3em
  margin-bottom: 3em
  h1
    font-size: 1.5em
    font-variant: small-caps
    color: #444
  display: flex
  flex-direction: column

div.location-group-body
  display: flex
  flex-grow: 1
  flex-direction: row

div.section-column
  flex: flex-grow
  position: relative
  div.section-locator
    position: relative
    height: 0
  div.section-locator-inner
    position: absolute

ul.controls
  position: absolute
  top 0
  right 0
  margin: 1em
  z-index: 18
  li
    display: inline-block
    margin-left: 0.5em
    a
      background-color: #ccc
      border: 2px solid #999
      color: #666
      margin-bottom: 1em
      text-decoration: none
      padding 0.4em
      padding-top: 0.4em
      width: 3em
      height: 3em
      text-align: center
      border-radius: 1.5em
      display: block
      &:hover
        color: white
        background-color: dodgerblue
        border-color: darken(dodgerblue, 20%)

.section
  margin: auto
  position: relative
  svg
    position: absolute
    top: 0
    left: 0

  .backdrop
    z-index: 10

text
  font-family: 'Helvetica Neue'
  font-size: 10

div.images
  position: relative

div#section-container
  position relative

div.section-page.single-section
  #section-pane
    flex-direction: row
  .section-scroll-container
    height: 100vh
    overflow scroll
  .section-container
    padding 2em 4em
    margin 0 auto
  ul.controls
    position absolute
    top: 0
    right 0

.facies-card
  margin-bottom 2em
  font-size 0.9em
  max-width 40rem
  .header
    justify-content inherit
    margin-bottom 1em
  h2
    font-size 1.5em
    color #444
    margin-left 1em
    margin-bottom 0
    text-align left

div.facies.pt-card
  margin-bottom 0.5em
  padding 0.2em 0.5em
  div.header
    display flex
    flex-direction row
    p
      margin 0.3em
      flex 1
