*
  font-family: "Helvetica Neue"

ul
  list-style: none
  padding-left: 0

li a

body
  background-color: white
  user-select: none
*
  box-sizing: border-box
  &:focus
    outline: none

input[type=checkbox]:focus
  outline: 0

#main .page.section-page
  display: flex
  flex-direction: row

#section-pane
  position: relative
  width: 100%
  overflow: scroll
  flex-grow: 1
  display: flex
  flex-direction: column

#section-page
  width: 100%
  overflow: scroll
  flex-grow: 1
  &.dragdealer
    overflow: hidden
    cursor: move

#section-page-inner
  display: inline-flex
  flex-direction: row
  background-color: white
  min-width: 100%
  min-height: 100vh
  padding-left: 100px
  &.skeletal div, &.skeletal svg, &.skeletal g
    outline: 2px solid alpha(dodgerblue, 0.2)
    background: alpha(dodgerblue, 0.05)

div.location-group
  margin: 3em
  h1
    font-size: 1.5em
    font-variant: small-caps
    color: #444
  display: flex
  flex-direction: column

div.location-group-body
  display: flex
  flex-grow: 1
  flex-direction: row
  margin: 0 -2em

div.section-column
  flex: flex-grow
  position: relative
  margin: 0 2em
  div.section-locator
    position: relative
    height: 0
  div.section-locator-inner
    position: absolute

ul.controls
  position: absolute
  top 0
  right 0
  margin: 1em
  z-index: 10
  li
    display: inline-block
    margin-left: 0.5em
    a
      background-color: #ccc
      border: 2px solid #999
      color: #666
      margin-bottom: 1em
      text-decoration: none
      padding 0.4em
      padding-top: 0.4em
      width: 3em
      height: 3em
      text-align: center
      border-radius: 1.5em
      display: block
      &:hover
        color: white
        background-color: dodgerblue
        border-color: darken(dodgerblue, 20%)

.section
  margin: auto
  position: relative
  svg
    position: absolute
    top: 0
    left: 0

  .backdrop
    z-index: 10

text
  font-family: 'Helvetica Neue'
  font-size: 10

.info text
  font-style: italic
  &.width-ratio
    font-size: 8

div.images
  position: relative

