* {
  font-family: "Helvetica Neue"
  }

ul {
  list-style: none;
  padding-left: 0;
  }

li a {
  background-color: #ccc;
  margin-bottom: 1em;
  text-decoration: none;
  padding: 1em;
  display: block;
  &:hover {
    color: white;
    background-color: dodgerblue;
  }
}

