width=15em

#settings
  width: width
  border-left: 2px solid #444
  height: 100%
  padding: 1em
  h2:first-child
    margin-top: 0

  &.settings-enter
    width: 0em
    padding: 0em
    &.settings-enter-active
      transition: width 1000ms, padding 1000ms, border-left-width 1000m
      padding 1em
      border-left-width 2px
      width: width

  &.settings-leave
    width: width
    padding: 0em
    &.settings-leave-active
      width: 0em
      transition: width 1000ms, border-left-width 1000ms, padding 1000ms
      padding 0em
      border-left-width: 0

  div
    margin-bottom: 1em
