#map-legend
  min-width: 20em
  max-width: 30em
  width: 20%
  border-left: 2px solid #444
  height: 100vh
  overflow-y scroll
  padding: 1em
  h2:first-child
    margin-top: 0

  &.settings-enter
    width: 0em
    padding: 0em
    &.settings-enter-active
      transition: width 1000ms, padding 1000ms, border-left-width 1000m
      padding 1em
      border-left-width 2px
      width: width

  &.settings-leave
    width: width
    padding: 0em
    &.settings-leave-active
      width: 0em
      transition: width 1000ms, border-left-width 1000ms, padding 1000ms
      padding 0em
      border-left-width: 0

div.title-block
  font-style bold
  h1
    font-size 1.5em
    line-height inherit

div.admonition
  background-color #ffd
  border 1px solid #888
  padding 0.5em

div.unit-group
  margin-bottom 1em
  margin-top 0.2em
  div.unit-group
    h1
      font-size 0.9em
  div.unit-group div.unit-group
    h1
      font-size 0.8em
      font-style italic
      color #888888
  h1
    line-height inherit
    margin-top 0
    font-size 1em
    margin-bottom 0.1em
    padding 0em
    text-transform uppercase
    color black

  div.unit
    display flex
    flex-direction row
    margin-bottom 0.2em

    .right
      margin-left: 1em
      flex-grow 1

ul.controls
  position: absolute
  top 0
  right 0
  margin: 1em
  z-index: 18
  li
    display: inline-block
    margin-left: 0.5em
    a
      background-color: #ccc
      border: 2px solid #999
      color: #666
      margin-bottom: 1em
      text-decoration: none
      padding 0.4em
      padding-top: 0.4em
      width: 3em
      height: 3em
      text-align: center
      border-radius: 1.5em
      display: block
      &:hover
        color: white
        background-color: dodgerblue
        border-color: darken(dodgerblue, 20%)

