.interaction-barrier
  pointer-events: all

.editor-popup-target
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

.editable-text-area
  position: relative

  textarea
    min-width: var(--data-editor-width, 15em)
    min-height: var(--data-editor-height, 10em)
    font-family: inherit
    font-size: inherit

  .tools
    position: absolute
    top: 0.2em
    right: 0.2em
    transform: scale(0.8)

.hidden-editor
  opacity: 0

.editor-value
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.color-swatch
  width: 18px
  height: 18px
  display: inline-block
  margin-right: 0.5em

.color-swatch-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-direction: row
  align-items: center
  gap: 0.3em

.color-name
  position: relative
  flex-grow: 1
  display: block

