body
  background-color: white

#main
  display: flex
  flex-direction: row
  background-color: white

div.section
  flex: flex-grow
  min-width: 20em

div.images
  margin-top: 30px
  margin-left: 70px
  margin-bottom: 30px
