body
  background-color: white

#main
  display: flex
  flex-direction: column

#section-page
  width: 100%
  overflow: scroll
  display: flex
  flex-direction: row
  background-color: white
  flex: 1

div.section-container
  flex: flex-grow
  min-width: 20em

