[submodule "packages/column-components"]
	path = packages/column-components
	url = https://github.com/UW-Macrostrat/column-components.git
[submodule "packages/map-components"]
	path = packages/map-components
	url = https://github.com/UW-Macrostrat/map-components.git
[submodule "packages/timescale"]
	path = packages/timescale
	url = https://github.com/UW-Macrostrat/timescale.git
[submodule "packages/data-sheet"]
	path = packages/data-sheet
	url = https://github.com/UW-Macrostrat/data-sheet.git
[submodule "deps/geologic-patterns"]
	path = deps/geologic-patterns
	url = https://github.com/davenquinn/geologic-patterns.git
