# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
package-lock.json

# dotenv environment variables file
.env

lib
.docz
.parcel-cache
.cache

docs
dist
storybook-static

.yarn/cache
.yarn/install-state.gz
.yarn/unplugged

.pnp.*

# We need to ignore Yarn Lockfile because otherwise this repository
# can't be nested inside another repository that uses Yarn Workspaces
# (e.g. https://github.com/UW-Macrostrat/web).
yarn.lock

packages/*/dist
