.taxa-occurrences-matrix
  color: var(--column-text-color)
  line
    stroke: var(--column-stroke-color)
    stroke-width: 2px
  text.taxon-name
    fill: var(--column-text-color)
    transform: rotate(90deg) translate(0, 4px)
    text-anchor: end
