:local .correlated-surface-row {
  display: flex;
  flex-direction: row;
}
:local .correlated-surface-row>div {
  flex: 1;
  margin-right: 1em;
}
:local .facies-picker-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 8px;
}
:local .facies-picker-row span {
  display: block;
}
:local .facies-picker-row .facies-picker-name {
  flex-grow: 1;
  display: block;
  text-align: left;
  font-style: italic;
  color: #444;
}
:local .facies-picker-row .facies-color-swatch,
:local .facies-picker-row .lithology-swatch {
  margin-right: 0.5em;
  margin-left: -0.5em;
}
:local .facies-picker-name,
:local .lithology-swatch {
  border-radius: 3px;
}
:local .picker-label {
  font-style: italic;
}
:local .editor-dialog-title {
  margin-right: -margin;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
:local .editor-dialog-title code {
  font-family: "Fira Code", monospace;
  color: #aaa;
}
:local .editor-dialog-title * {
  margin-bottom: 0.2em;
  margin-top: 0;
}
:local .editor-dialog-title .title-center {
  flex-grow: 1;
}
:local .editor-dialog-title .height-range {
  font-weight: 400;
}
:local .lithology-swatch {
  height: 2em;
  width: 2em;
  background-size: 6em;
  image-rendering: crisp-edges;
  border: 1px solid #000;
}
:local .lithology-symbol-picker {
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 8px;
}
:local .lithology-symbol-picker.hidden .lithology-symbol-picker-inner {
  display: none;
}
:local .lithology-symbol-picker.expanded .expand-button {
  display: none;
}
:local .lithology-symbol-picker-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 4px;
}
:local .lithology-symbol-picker-inner * {
  margin-right: 0.5em;
}
:local .lithology-symbol-picker-inner .picker-label {
  flex-grow: 1;
}
:local .labeled-control {
  margin-bottom: 15px;
}
:local .labeled-control :global(.bp3-label) {
  margin-bottom: 0;
  color: #444;
}
:local .label-text {
  font-weight: 500;
}
