
c1 = rgb(16, 22, 26)
.panel-header
  h1
    margin-bottom 0.2em
    margin-top 0.2em
    font-size 1.2em
  background-color: #eee
  display flex
  flex-direction row
  justify-content space-between
  align-items baseline
  padding 0.2em 0.6em
  border-radius 6px
  margin-bottom 1em
  box-shadow: 0 0 0 1px alpha(c1,0.1), 0 0 0 alpha(c1, 0), 0 1px 1px alpha(c1, 0.2)
  :global(.bp3-button)
    align-self center

