.placeholder:global(.bp5-menu-item)
  color: var(--secondary-color)

.target-container
  display: flex
  flex-direction: row

  &.fill-width .target-select
    flex-grow: 1

.target-select
  list-style: none
  padding: 0
  margin: 0

.selected
  font-weight: 600
