@require "./legend/legend.styl"

*
  box-sizing border-box

#map-container, #map-panel-container
  position relative
  flex-grow: 1
  height: 100vh
  margin 0

body
  margin 0

#map-root
  position: relative
  flex-grow: 1
  display: flex
  width 100%
  flex-direction: row
  height 100vh
  overflow scroll

ul.navigation
  li a
    padding: 1em
    background-color: #ddd
    text-decoration: none
    display: block
    margin-bottom: 1em
    color: black
    font-size: 1.2em
    &:hover
      background-color: dodgerblue
      color: white
