#lateral-variation
  * {font-family: "Gotham"}

.label {font-style: oblique}
.bold {font-weight: 500}
.smaller {font-size: 0.8em}

.sections {
  font-size: 30px;
  font-weight: 600;
}

.formations {
  font-size: 24px;
  font-weight: 300;
}

.locality {
  font-size: 24px;
}

.axis {
  line, path {
    stroke: #444;
    stroke-width: 3px;
    fill: none;
  }
}

