.selection-actions {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.actions-list:global(.bp5-menu) {
  width: 12em;
  grid-column: 1/2;
  border-radius: 6px
}

.description {
  color: var(--secondary-color);
}

.action-details {
  min-height: 100%;
  grid-column: 2/2;
  box-shadow: none;
  padding: 1em;
  border-radius: 6px;
  background-color: var(--panel-secondary-background-color);
}

.action-details, .action-details-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.action-details-content {
  gap: 1em;
  h3 {
    margin: 0;
  }
}

.spacer {
  flex-grow: 1;
}

.select-placeholder {
  width: 100%;
}

.action-button:global(.bp5-button) {
  :global(.bp5-button-text) {
    flex: 1 1 auto;
    font-weight: 600;
  }
}
