
.prevalent-taxa-row {
  background-color: #999999;
  padding: 15px;
  margin-top: 20px;
  height: 90px;
}

.prevalent-taxa-container {
  text-align: center;
  display: table;
  height: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.prevalent-taxa-container:first-of-type {
  border-right: 1px solid whitesmoke;
}

.prevalent-taxa {
  display: table-cell;
  vertical-align: middle;
}

.prevalent-taxa > img {
  filter: invert(1);
  -webkit-filter: invert(1);
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
  height: 35px;
}
.prevalent-taxa > p {
  color: #F5F5F5;
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 5px;
}

#prevalent-taxa-title {
  color: #F5F5F5;
  font-size: 1.2em;
  margin-bottom: 0;
}

.normalize-link {
  color: inherit;
}
.normalize-link:hover {
  color: inherit;
}
