.surface-timescales
  padding: 1em
  h2
    margin: 0 0 0.5em

.timescale-caption
  display: flex
  flex-direction: row
  align-items: center
  gap: 0.5em
  flex-wrap: wrap
  margin-bottom: 1em
  .caption-label
    font-size: 0.9em
  .caption-text, .caption-hint
    color: var(--text-subtle-color)
    font-size: 0.9em

.story-controls
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  gap: 1em
  flex-wrap: wrap
