svg#section-link-overlay
  pointer-events none
  rect.section-tracker
    fill: transparent
  &.skeletal
    outline: 2px solid alpha(red, 0.2)
    background: alpha(red, 0.05)
    rect
      outline: 2px solid alpha(red, 0.2)
      fill: alpha(red, 0.05)

  path.section-link
    fill none
    stroke #888
    &.inferred
      stroke-dasharray: 2,4
    &.commonality-0
      stroke-width 3
      stroke black
    &.commonality-2
      stroke-width 2
      &.inferred
        stroke-dasharray: 4,8
    &.commonality-3
      stroke-width 1

div.section-page#summary-sections
  .location-group
    margin 2em 8em
  .section-column
    margin 0 1em
  .section-container h2
    margin-bottom 0
