svg#section-link-overlay
  pointer-events none
  rect.section-tracker
    fill: none
  &.skeletal
    outline: 2px solid alpha(red, 0.2)
    background: alpha(red, 0.05)
    rect
      outline: 2px solid alpha(red, 0.2)
      fill: alpha(red, 0.05)

  path.section-link
    pointer-events all
    fill none
    &.inferred
      stroke-dasharray: 2,4
    &.commonality-0
      stroke-width 3
    &.commonality-2
      stroke-width 2
      &.inferred
        stroke-dasharray: 4,8
    &.commonality-3
      stroke-width 1

div.section-page#summary-sections
  .align-with-sections
    margin-top 3em
  .location-group
    margin 2em 10em
    margin-top 3em
    position relative
    &#Ubisis
      h1
        top 560px
    &#Tsams
      h1
        top 370px
      margin-right 0
    h1
      position absolute
      top -20px
      left 0
      font-size 2em
      color #888

    &.chemostratigraphy
      margin 2em 2em 0 2em
  .legend
    margin 2em 4em
    margin-top 0
    min-width 20em
    background-color white
    h2
      font-size 1.5em
    &>div
      margin-bottom 1em
    h4
      margin-top 1.5em
    div.facies
      margin-bottom 0.3em
  .section-column
    margin 0 1em
  .section-container h2
    position absolute
    left: -5px
    top: 8px
    text-align right
  .section-header.subtle h2
    font-weight: 400
    font-size 1em

div.isotopes

  g.data-points
    line
      stroke-width 4px
      stroke-linecap round

  g.scale g.tick
    line
      stroke-width 1px
      stroke #ccc
    &.zero
      line
        stroke #888
        stroke-width 2px
    text
      text-anchor middle
      fill #888
      font-size 10px
      font-style italic

