*
  shape-rendering inherit

@media print
  ul.controls
    display: none

text
  font-size: inherit

#main
  height inherit
  width 2400px
  height 1850px
  overflow hidden
  position relative
  transform translate(-20px,-25px)


//body
//  margin -20px -40px

#section-pane
  height inherit
  overflow hidden !important

#main .page.section-page
  height inherit

  div.panel-container
    height inherit

.section-header
  h2
    z-index 20
