ul.controls
  display: none

*
  shape-rendering inherit

text
  font-family: Gotham
  font-size: inherit

#main
  margin 0
  height inherit
  width 1970px
  height 1770px
  overflow hidden
  position relative
  transform translate(-40px,-25px)

#section-link-overlay
  transform translate(30px,0px)

//body
//  margin -20px -40px

#section-pane
  height inherit
  overflow hidden !important

#main .page.section-page
  height inherit

  div.panel-container
    height inherit
