#section-pane
  overflow: inherit
  height: 1550px
  width: 1800px
  flex-grow: inherit

body>div
  height: 1550px
  width: 1800px
  overflow inherit

#summary-sections-legend
  margin 3em
  max-width 14em

#section-page-inner
  width: 1800px

div.location-group
  margin 3em 6em

div.facies .header
  display flex
  flex-direction row
  align-items center
  &>p
    flex 1
    max-width 200px
