.popover-container span.popover-target,
.popover-container span.bp5-popover-target {
  display: inline !important;
  pointer-events: none;
  width: 10px !important;
  height: 10px !important;
}
.interaction-barrier {
  pointer-events: all;
}
