.actions-toolbar
  display: flex
  flex-direction: row
  gap: 4px
  margin-bottom: 4px
  align-items: center

.spacer
  flex-grow: 1

.action-popover-content
  padding: 12px
  max-width: 300px

  p.description
    margin: 0 0 8px 0
    color: var(--secondary-color)
    font-size: 0.9em

.run-button
  margin-top: 8px
  width: 100%

