.age-axis
  transform: translateX(20px)

  :global(.tick)
    text
      text-anchor: middle
      // TODO: allow font size to vary without this..
      font-weight: 400 !important
      transform: rotate(-90deg) translate(8px, -12px)
      font-size: var(--column-axis-font-size, 0.8rem)

    line
      stroke-width: 1px !important

.age-axis-column
  flex-shrink: 0

.age-axis-label
  writing-mode: vertical-lr
  transform: rotate(180deg)
  font-size: var(--column-axis-font-size, 0.8rem)
  text-align: center
  position: sticky
  top: 0
  max-height: 100vh
.age-axis-unit
  color: var(--text-subtle-color)

.age-cursor
  position: absolute
  left: 30px
  right: 0
  pointer-events: none
  .line
    border-bottom: 2px solid var(--column-axis-cursor-color, var(--column-cursor-color, var(--column-stroke-color)))
    transform: translateY(-1px)

  .label
    writing-mode: vertical-lr
    padding: 4px 2px
    transform: rotate(180deg) translate(16px, 50%)
    background-color: var(--column-background-color)
    text-align: center



    
