.age-axis :global(.visx-axis-tick) svg
  font-size: 12px
  font-weight: 400 !important
  text-anchor: middle
  transform: rotate(-90deg) translate(8px, -12px)
  fill: var(--column-text-color)
  color: var(--column-text-color)

.age-axis
  transform: translateX(20px)
