.column-container, body:global(.light-mode) .column-container
  --column-background-color: var(--background-color, #fff)
  --column-stroke-color: var(--text-emphasized-color, #000)
  --column-text-color: var(--text-emphasized-color, #000)

/* We have to duplicate the dark mode styles here
  because we want to set them either if the preferred
  color scheme is dark OR if dark mode is explicitly enabled.
  If dark mode is explicitly enabled, we want to override
  the media query. */
@media (prefers-color-scheme: dark)
  body:not(:global(.light-mode)) .column-container
    --column-background-color: var(--background-color, #000)
    --column-stroke-color: var(--text-emphasized-color, #fff)
    --column-text-color: var(--text-emphasized-color, #fff)
    color-scheme: dark
    color: var(--column-text-color)
    :global
      .timescale
        color: #000
      svg pattern image
        filter: invert(100%)

body:global(.dark-mode) .column-container
  --column-background-color: var(--background-color, #000)
  --column-stroke-color: var(--text-emphasized-color, #fff)
  --column-text-color: var(--text-emphasized-color, #fff)
  color-scheme: dark
  color: var(--column-text-color)
  :global
    .timescale
      color: #000
    svg pattern image
      filter: invert(100%)

.column-container :global
  .column
    display: flex
    flex-direction: row
    position: relative
    height: fit-content

  .unit
    stroke: var(--column-stroke-color)
    stroke-width: 1px

  .selection-overlay
    fill: var(--selection-overlay-color, red)
    fill-opacity: var(--selection-overlay-opacity, 0.5)

  g.lithology-column use.frame
    stroke: var(--column-stroke-color)
    stroke-width: 1.5px !important
    pointer-events: none

.column-container :global .unit-label
  text-align: center

.column-container :global .col-note-label
  font-size: 10px
  line-height: 9px
  border-left: none !important
  margin: 1px 0

.column-container :global g.height-range
  display: none

.column-container :global .note-inner
  border: none
  padding: 1px

.column-container :global .frame rect
  fill: transparent

.column-container :global .default-buttons
  width: 100%
  margin: 0 -10px

.column-container :global div.section
  display: flex
  flex-direction: row

.column-container :global .section .divisions .unit
  cursor: pointer

.column-container :global(.timescale)
  width: calc(calc(1.5em + 1.5px) * var(--timescale-level-count, 4))
  --timescale-level-size: 1.5em

.timescale-column
  position: relative

.section-main
  position: relative
  margin-bottom: -4px

.section-units-container
  position: relative

.main-column
  position: relative

.unconformity-labels
  position: absolute
  top: 0
  left: 0
  pointer-events: none


.unconformity
  text-align: center
  position: absolute
  top: 0px
  display: flex
  justify-content: center
  align-items: center
  font-size: 0.8em
  &.giga
    font-weight: 800
    font-size: 1em
  &.mega
    font-weight: 600
    font-weight: 700
    font-size: 0.9em
  &.large
    font-weight:  600
  &.small
    font-weight: 300


.unconformity-text
  width: var(--column-width)
  color: var(--column-stroke-color)
  --unit-font-style: normal


.column-title-row
  display: flex
  flex-direction: row
  gap: 1em
  justify-content: space-between
  align-items: baseline
