div.lithology-column
  overflow: hidden
  span.lithology
    display: block
    position: absolute
    left: -5
    width: 500px
    //background-size: 100px 100px
    background-color: white
    &.definite
      border: 1px solid black
    &.covered
      background-color: lightness(red,80%)

div.section-container
  position: relative
  &.skeleton
    h2, p
      color: blue

div.section-outer
  display: flex
  flex-direction: row
  width: 100%
  svg.overlay
    z-index: -10

svg.section-log
  flex-grow: 1
  position: relative
  g.note
    circle
      fill: black
    line
      stroke: black
      stroke-width: 2
      marker-start: url(#arrow_start)
      marker-end: url(#arrow_end)
    p.note-label
      padding-left: 0.3em
      border-left: 1px solid black
      //margin-top: -8px
      //transform: translateY(-50%)
      font-style: italic
      font-size: 10px
    path.link
      stroke: #000
      stroke-width: 1
      fill: none

.grainsize.axis
  text
    font-family: 'Helvetica Neue'
    text-anchor: middle
    font-size: 6
    font-style: italic
    &.top
      transform: translate(0,-2px)
    &.bottom
      transform: translate(0,10px)
  line
    stroke: lighten(dodgerblue, 0.5)
    stroke-width: 1px
    stroke-dasharray: 2,2

.note.error
  p
    color: darken(red,0.2) !important
  background: alpha(red, 0.2) !important
