div.lithology-column
  overflow: hidden
  span.lithology
    display: block
    position: absolute
    left: -5
    width: 500px
    //background-size: 100px 100px
    background-color: white
    &.definite
      border: 1px solid black
    &.covered
      background-color: lightness(red,80%)

div.section-container
  position: relative
  &.skeleton
    h2, p
      color: blue

div.section-outer
  display: flex
  flex-direction: row
  width: 100%
  svg.overlay
    z-index: -10

div.section-log
  flex-grow: 1
  position: relative
  div.note
    position: absolute
    padding-left: 1em
    font-style: italic
    font-size: 0.7em
    line-height: 1em
    .note-span-container
      position: relative
    .note-span
      position: absolute
      line
        stroke: #444
        stroke-width: 2
        marker-start: url(#arrow_start)
        marker-end: url(#arrow_end)

.note.error
  p
    color: darken(red,0.2) !important
  background: alpha(red, 0.2) !important
