g.labeled-unit div.unit-name {
  display: block;
  width: 100%;
  height: 100%;
}
g.labeled-unit span.label-text {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .lithology-column .frame {
    stroke: #fff;
  }
  g.inner pattern image {
    filter: invert(100%);
  }
}
