.column-image {
  position: absolute;
  top: 0;
  left: 0;
}
.interval-editor-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: middle;
}
.interval-editor-title h3 {
  margin: 0;
}
.interval-editor-title code {
  font-family: monospace;
  font-weight: 600;
}
.interval-editor-title :global .bp5-button {
  transform: translate(0, -5px);
}

.column-axis:global(.y.axis) {
  line {
    stroke: var(--column-stroke-color, var(--text-color, #000));
    stroke-width: 2px;
  }

  path {
    stroke: var(--column-stroke-color, var(--text-color, #000));
    stroke-width: 1px;
  }

  text {
    font-size: var(--column-axis-font-size, 12px);
    font-weight: var(--column-font-weight, bold);
  }
}

:global {
  #new_arrow_start,
  #new_arrow_end {
    fill: #1e90ff;
  }

  g.lithology-column .column-clip-frame {
    stroke: var(--column-stroke-color, var(--text-color, #000));
    stroke-width: var(--column-stroke-width, 1px);
    fill: none;
  }

  g.lithology-column rect.lithology {
    stroke: #aaa;
    stroke-width: 0.25pt;
  }

  g.lithology-column rect.lithology.definite {
    stroke: #000;
  }

  g.lithology-column rect.covered-area {
    fill: #f00;
    fill-opacity: 0.2;
    pointer-events: none;
  }

  g.covered-column rect.covered-area {
    fill: #f00;
    fill-opacity: 1;
  }

  div.section-outer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  div.section-outer svg.overlay {
    z-index: 10;
  }

  .grainsize.axis.rotated text {
    text-anchor: start;
  }

  .grainsize.axis.rotated text.top {
    transform: translate(0, -2px) rotate(-60deg);
  }

  .grainsize.axis.rotated text.bottom {
    transform: translate(0, 10px) rotate(60deg);
  }

  .grainsize.axis text {
    font-family: "Helvetica Neue";
    text-anchor: middle;
    font-size: 10;
    font-style: italic;
  }

  .grainsize.axis text.top {
    transform: translate(0, -2px);
  }

  .grainsize.axis text.bottom {
    transform: translate(0, 10px);
  }

  .grainsize.axis line {
    stroke: #2191ff;
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
  }

  @media (prefers-color-scheme: dark) {
    .grainsize.axis text {
      fill: #fff;
    }
  }

  .note.error {
    background: rgba(255, 0, 0, 0.2) !important;
  }

  .note.error p {
    color: #fe0000 !important;
  }

  g.samples g.sample text {
    alignment-baseline: middle;
    text-anchor: end;
    font-size: 10px;
    font-style: italic;
  }

  g.samples g.sample circle {
    fill: #000;
  }

  div.photo-dialog {
    width: 90%;
    height: 80vh;
    top: 10vh;
  }

  div.photo-dialog div.image-gallery-image img {
    max-width: 100%;
  }

  rect.symbol-column-area {
    fill: none;
  }

  g.triangle-bars path {
    fill: var(--triangle-bars-fill-color, #ccc);
    stroke: var(--triangle-bars-stroke-color, #aaa);
    stroke-width: var(--column-stroke-width, 1px);
  }

  div.Select-menu-outer {
    z-index: 15;
  }

  div.edit-overlay div.cursor-container {
    position: absolute;
  }

  div.edit-overlay div.cursor-container .bp5-popover-wrapper {
    display: block;
    width: 80px;
  }
}
