* {
  box-sizing: border-box;
}

:global {
  body {
    --timescale-level-width: 2em;
  }
}

.timescale-ui {
  display: flex;
  margin: 0 auto;
}
.timescale-ui .timescale {
  padding: 2em;
}
.timescale-ui.horizontal {
  flex-direction: column;
  width: max-content;
}
.timescale-ui.horizontal .timescale {
  width: max-content;
  margin-top: 25em;
}
.timescale-ui.horizontal .control-array {
  width: 60em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 2em auto;
}
.timescale-ui.horizontal .control-array .control-panel {
  float: right;
}
.timescale-ui.vertical {
  max-width: 60em;
  flex-direction: row;
}
.spacer {
  flex-grow: 1;
}
.control-panel {
  width: 30em;
  position: sticky;
  top: 2em;
  right: 2em;
}
.control-panel > * {
  margin-bottom: 1em;
}
.control-array {
  position: relative;
}
