.title-link
  text-decoration: none

.quotes
  margin-top: 0px
  padding-left: 1em

.xdd-snippet
  font-size: 0.9em

  :global
    .hl
      font-style: normal
      background-color: var(--xdd-snippet-highlight-background, var(--ui-color-accent, #24DDB4))
      color: var(--xdd-snippet-highlight-color, var(--ui-color-accent-text, var(--text-color)))
      font-weight: bold
      padding: 2px 3px
      margin: 0 -3px
      border-radius: 3px
