
.pattern-container
  width: 100px
  height: 100px
  border: 1px solid var(--panel-rule-color)
  border-radius: 0.5em
  overflow: hidden

  &>svg
    width: 100%
    height: 100%

@media(prefers-color-scheme: dark)
  .basic-pattern-image
    filter: invert(80%)

.svg-pattern
  :global svg
    *[style*="stroke:#000000"]
      stroke: #00a396 !important
    *[style*="stroke-width"]
      stroke-width: 1px !important
      stroke-linecap: round
    rect:not([style*="fill:none"])
      fill: #00a396
  background-color: darken(#00a396, 20%)
