@require './column/editor-styles'
@require './ui/main'

.app
  margin 1em auto
  max-width 800px

.main
  display flex
  flex-direction row


.column-container
  flex-grow 1
  position relative

.editor-panel
  width 400px
  margin 20px 1em
