rect.unit
  stroke: black
  stroke-width: 0.5px

.lithology-column .frame
  stroke black
  stroke-width: 1.5px

.note-label
  font-size: 10px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  margin-top 3px
  padding 2px
  padding-left: 3px
  line-height: 9px
