.filter-form-container
  display: flex
  flex-direction: column
  gap: 6px
  min-width: 240px
  padding: 6px

span.sep
  &:first-child, &:last-child
   display: none

.filter-value
  font-style: oblique
