.selection-indicator
  user-select: none

.selection-indicator-tag
  display: flex
  align-items: center
  gap: 4px
  :global(.bp6-icon)
    color: var(--bp-typography-color-muted)

  &.enabled
    :global(.bp6-icon)
      color: var(--intent-primary)

  &.interactive
    cursor: pointer
    &:not(.enabled)
      color: var(--bp-typography-color-muted) !important

  &:not(.interactive)
    background: transparent !important

