.feedback-component
  position: relative
  width: 800px

  & > svg
    width: 800px

.node
  cursor: pointer

.feedback-text
  margin-bottom: 2em

.entity-panel
  position: relative
  max-height: 600px

.control-panel
  position: absolute
  top: 1em
  right: 1em
  padding: 0.2em 0.5em

.entity-panel
  flex: 1
  min-height: 100px
  padding: 1em
  background: var(--panel-secondary-background-color)
  border-radius: 4px
  // Inset box shadow
  box-shadow: 0 0 0 1px var(--panel-border-color) inset

.selection-tree
  margin: -1em 0
  padding: 1em 0
  width: 70% !important
  
.type-list
  display: grid
  grid-auto-flow: column
  grid-template-rows: repeat(10, auto)
  gap: 0.2em
  margin-bottom: .5em

  .type-tag
    padding: .2em .5em
    border-radius: .2em

.description
  max-width: 300px
  padding: .5em

mark
  border-radius: .2em
  cursor: pointer
  color: black !important

[role="treeitem"]
  width: auto !important