div#carbon-isotopes
  margin: 0 auto

  .scale
    path, line
      stroke: black
      stroke-width: 1px
    text
      font-size: 14px
      fill: black

  .grid line
    stroke-width: 0.5px
    stroke: #ccc
    &.zero
      stroke-width: 2px

.axis-label
  text-align: center
  font-size: 14px
