
.expansion-panel
  --panel-padding-h: var(--expansion-panel-padding, 1rem)
  --panel-padding-v: var(--expansion-panel-padding, 1rem)

.panel-subhead
  padding: 0 var(--panel-padding-h)
  border: 1px solid var(--panel-rule-color)
  border-bottom: 1px solid var(--panel-rule-color)
  background-color: var(--accent-color)
  display: flex
  flex-direction: row
  align-items: center
  z-index: 1
  gap: var(--panel-header-gap, 0.5rem)
  top: -1px
  position: sticky
  min-height: var(--panel-header-height, 40px)
  h1, h2, h3, h4
    font-family: Montserrat,sans-serif
    font-weight: 700
    margin: 0
  h4
    font-weight: 600
  .title
    flex-grow: 1

  .expansion-panel-icon
    margin-right: -0.35em

// :global(.bp6-dark) .panel-subhead
//   margin 0 1px

.info-panel-section
  &>.panel-subhead
    margin: -1px calc(var(--panel-padding-h) * -1) 0

.expansion-panel-toggle
  svg
    // Adjust placement of toggle within button
    // Kind of annoying that we have to do this
    transform: translate(0, -2px)
  margin-right: -0.5rem
  margin-left: 0.5rem

.expansion-panel
  padding: 0
  flex-wrap: wrap
  margin-top: -1px
  // &.collapsed
  //   .expansion-panel-header
  //     border-bottom-width: 0;

.expansion-panel-detail-header
  font-size: 90%
  font-style: italic
  margin-right: 1em
  display: inline
  color: var(--secondary-color)
  &:after
    content: ":"


.sub-expansion-panel
  margin: -1px calc(var(--panel-padding-h) * -0.5) 0
  overflow: hidden
  &:first-child
    .expansion-panel-header
      border-top-width: 0
  .panel-subhead
    border-top: none
    border-bottom: none

  .expansion-panel-header
    background-color: var(--accent-secondary-color)
    cursor: pointer
    padding: 0 1rem

    &:hover
      background-color: var(--accent-secondary-hover-color)
    h2, h3, h4
      font-weight: 500
      border-bottom: 1px solid var(--tertiary-border-color)
      border-top: 1px solid var(--tertiary-border-color)
      align-items: center

.expansion-summary-title-help
  margin-left: 5px
  :global(.bp6-icon)
    margin-left: 5px

.expansion-panel-header
  cursor: pointer
  &:hover
    background-color: var(--accent-hover-color)
  :global(.bp6-icon)
    transform: translate(0,3px)

.expansion-panel-content
  padding: var(--panel-padding-v) var(--panel-padding-h)
  .expansion-panel
    margin-left: -1rem
    margin-right: -1rem
    &:first-child
      margin-top: 0
  &>:first-child
    margin-top: 0
  &>:last-child
    margin-bottom: 0

.expansion-panel-subtext
  font-size: 85%
  font-weight: 400

/** Expandable details panel */

.expandable-details
  position: relative
  --expansion-panel-padding-INT: var(--expansion-panel-padding, 0.5em)

// New expandable panel for details
.expandable-details-main
  display: flex
  flex-direction: row
  align-items: baseline
  gap: var(--panel-gap, 0.8em)
  justify-content: space-between

.expandable-details-collapse
  position: relative
  transform: translateY(-0.3em)

.expandable-details-toggle
  font-size: 1em
  transform: translateY(-2px)

.expansion-body
  background-color: var(--secondary-background)
  font-size: var(--expansion-panel-body-font-size, inherit)
  padding: var(--expansion-panel-padding-INT)
  border-radius: var(--expansion-panel-border-radius, 0.25em)
  width: 100%
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2)
  --data-field-label-font-weight: normal
  --data-field-label-font-style: italic
  &>:first-child
    margin-top: 0
  &>:last-child
    margin-bottom: 0
  margin-bottom: 0.5em
