name: Continuous integration

# Group requests for the same pull request to avoid multiple builds
concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [main]

jobs:
  prepare-and-build-packages:
    name: Prepare and build packages
    runs-on: ubuntu-latest
    env:
      # Ensure that Chalk uses colors in the output
      FORCE_COLOR: 2
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "yarn"

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      # We could probably get the release status
      # without installing all dependencies,
      # allowing this to be set up as another job.
      - name: Get release status
        id: status
        run: |
          yarn run status
        if: always()

      - name: Build all packages
        id: build
        run: |
          yarn run build
        if: always()

      - name: Final check
        if: always()
        run: |
          echo "Checking the outcome of build steps..."
          if [ "${{ steps.status.outcome }}" != "success" ] || [ "${{ steps.build.outcome }}" != "success" ]; then
            echo "One or more checks failed."
            exit 1
          fi

  build-storybook:
    name: Build storybook
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "yarn"

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Build storybook
        run: |
          yarn run build:storybook
